Community's binaries - Algorithm: SHA256<br>
e137de5c29880bdd19f745ad8765b6743a0f956002e12cb596b51b937f619116  vcashd_x86.zip<br>
6d68a1b57dedde91b43ff43a2c6e5f28f2e9071209d02fa0b821ea90e581fc96  vcashd_x64.zip<br>
c91acf3459c20400dfe31d69eee36374820f7ce7c9432287ca9b89f629b84fe0  Vcash_x64.zip<br>
